{% extends "::base.html.twig" %}

{% block body %}
    <h3>
        <a href="{{ path('index') }}">Back To Feed | </a>
        <a href="{{ path('newPost') }}">Publish New Post</a>
    </h3>
    <h1>{{ post.getTitle }}</h1>
    <p>By {{ post.getAuthor.getName }}</p>
    <hr>
    {% if (post.private) %}
        <p>This post is private</p>
    {% endif %}
    {% if (post.getCreated != NULL) %}
        <p>Created on {{ post.getCreated.format(datetime_fmt) }}</p>
    {% endif %}
    {% if (post.getModified != NULL) %}
        <p>Modified on {{ post.getModified.format(datetime_fmt) }}</p>
    {% endif %}
    {% if ((post.publishFrom != NULL) and (post.publishTo != NULL))%}
        <p>Published from {{ post.publishFrom.format(datetime_fmt) }}
        till {{ post.publishTo.format(datetime_fmt) }} </p>
        {% elseif (post.publishFrom != NULL) %}
            <p>Published from {{ post.publishFrom.format(datetime_fmt) }}</p>
        {% elseif (post.publishTo != NULL) %}
            <p>Published till {{ post.publishTo.format(datetime_fmt) }}</p>
    <p>Published from {{ post.publishFrom.format(datetime_fmt) }}</p>
    {% endif %}
    <hr>
    <p>{{ post.getText }}</p>
    <hr>
    <h1>Comments:</h1>
    {% for c in comments %}
        {% if ((edit['yes'] == true) and (edit['idx'] == loop.index - 1)) %}
            Your comment
            {% if answerTo != NULL %}
                [answer to {{ answerTo.getAuthor.getName }}]
            {% endif %}:
            {{ form(newCommentForm) }}
        {% else %}

        <p> <b>{{ c.getAuthor.getName }}
                [ {{ c.getCreated.format(datetime_fmt) }}
                {% if c.getModified != c.getCreated %}
                    , UPD {{ c.getModified.format(datetime_fmt) }}
                {% endif %}
                ]
                {% if c.getParent != NULL %}
                    [Answer to {{ c.getParent.getAuthor.getName }}]
                {% endif %}:</b>
        {{ c.getText }}
            <br/>
            <a href="{{ path('post', {commentIdx:loop.index - 1,
                id:post.getId, commentOption:'answer'}) }}">[Answer]</a>
            <a href="{{ path('post', {commentIdx:loop.index - 1,
                id:post.getId, commentOption:'edit'}) }}">[Edit]</a>
            <a href="{{ path('post', {commentIdx:loop.index - 1,
                id:post.getId, commentOption:'remove'}) }}">[Remove]</a>
        </p>
        {% endif %}
    {% endfor %}
    {% if (edit['yes'] == false) %}
        Your comment
        {% if answerTo != NULL %}
            [answer to {{ answerTo.getAuthor.getName }}]
        {% endif %}:
        {{ form(newCommentForm) }}
    {% endif %}

{% endblock %}