{% extends "::base.html.twig" %}

{% block body %}
    <h2>Welcome to asdasdBlog!</h2>
    <table>
        <tr>
            <th>
                <a href="{{ path('newPost') }}">Publish New Post</a>
            </th>
            <th>
                Show due date for publish
            </th>
        </tr>
        <tr>
            <td></td>
            <td>
                {{  form(publishFromTo, {'attr': {'novalidate': 'novalidate'}})  }}
            </td>
            </table>
        </tr>
    <hr/>
    <h2>List of posts</h2>
    <table>
    {%  for  p in posts  %}
        <tr>
            {# post title -> post details #}
            <td>
                <a href="{{ path('post', {id:p.getId}) }}"><b>{{ p.getTitle }}</b></a>
                <br>
                by <a href="{{ path('index', {filterAuthorId:p.getAuthor.getId}) }}">
                    {{ p.getAuthor.getName }}</a>,
                {{ p.getCreated.format(datetime_fmt) }}
            </td>
            {# post author -> filter posts by author #}
            <td>
            </td>
            {# tags #}
            <td>
            ({% for t in p.getTags %}
                <a href="{{ path('index', {filterAuthorId:p.getAuthor.getId}) }}">
                    {{ t.getTitle }}
                </a>
            {% endfor %})
            </td>
                {#
            <td>
                {{ p.getPublishFrom.format(datetime_fmt) }}
            </td><td> ===
            </td>
            <td>
                {{ p.getPublishTo.format(datetime_fmt) }}
            </td>#}
            {# edit this post #}
            <td>
                <a href="{{ path('remove', {id:p.getId}) }}">[edit this post]</a>
            </td>
            {# remove this post #}
            <td>
                <a href="{{ path('remove', {id:p.getId}) }}">[remove this post]</a>
            </td>
        </tr>
    {%  endfor %}
    </table>
{% endblock %}